<h2 class='title'>Welcome to Weather Wear</h2>


{{#if currentUser }}
  <div> Signed in as <span class="users-email">{{currentUser}}</span></div>
  <button id="logout" {{action 'logout'}}>Log out</button>
{{/if}}

{{outlet}}
