{{#if currentUser }}
  <form {{action 'submitZip'}}>
    {{input id="zipcode" value=zipcode}}
    <button id="submit-zip" type="submit">Search</button>
  </form>
  <div>Current Weather:<span id="current-temperature">{{currentTemp}}</span></div>
{{/if}}

{{#each}}
  <li class="user">{{email}}</li>
{{/each}}
