<div class="jumbotron">
  <form class="form-horizontal" {{action "loginUser" on="submit"}}>
    <div class="form-group">
      {{input value=email type="text" id="email"}}
    </div>
    <div class="form-group">
      {{input value=password type="password" id="password"}}
    </div>
    <button type="submit" id="login">Login</button>
  </form>
</div>

{{outlet}}
