<h1 class="title">Signup</h1>

<form {{action 'createUser' on="submit"}}>
  {{input classBinding="email" value=email}}
  {{input classBinding="password" value=password}}
  <button class="create-user">
    Create User
  </button>
</form>
